
hr{
background-color: red;
width:10%;
margin-left:0;
} 
.coder{
	display: inline-block;}

img{width:260px;
	height:260px;
	margin: 1px;
	}
span{
position:relative;
left:-150px;
color:white;
top:-10px;
	}
/* Inserta tu código aqui */